body {
    margin: 0;
}

@font-face {
  font-family: "w95fa";
  src: url("w95fa.woff2");
}

#minesweeper {
    display: inline-block;

    background-color: #C0C0C0;
    line-height: 0;

    justify-content: center;
    align-items: center;

    overflow: hidden;
}
#minesweeper button {
    line-height: 1;
}
#cntBombs, #cntTime {
    vertical-align: top;
    display: inline-block;
    border: 1px solid #000000;
}

.bsod {
    display: block;
    aspect-ratio: 1/1;

    cursor: none;
    user-select: none;

    background: #0000aa;
    color: #ffffff;

    font-family: w95fa, courier, sans-serif;
    font-size: 12pt;

    /* text-align: center; */
}
.bsod-neg {
    padding: 0px 8px;

    background: #ffffff;
    color: #0000aa;

    font-weight: bold;
}
.bsod p {
    width: 650px;
    margin: 30px 100px;

    text-align: left;
}
@keyframes blinker {
    0% {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
blink {
    animation: blinker steps(1) 1s infinite;
}
