body img {
    width: 30%;
    margin: auto;
    padding: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap between images as needed */
}

.image-grid img {
    width: 80%;
    height: auto;
}
